@media (min-width:768px) {
    .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .single-url-list {
        // border        : 1px solid #741bb5;
        padding-top   : 32px;
        padding-bottom: 32px;
        ul{
            margin-top: 20px;
        }
        a {
            // color: #fff;
            font-size: 1.1rem;
        }
    }
}