img {
	max-width: 100%;
}

.grid-wrapper {
	display : grid;
	grid-gap: 1rem 2rem;

	.grid-item {
		transition     : all 0.5s;
		border-radius  : 4px;
		padding        : 8px;
		box-shadow     : 0 4px 5px 0 rgba(49, 67, 81, 0.07);
		text-decoration: none;

		&:hover {
			box-shadow: 0 4px 20px 0 rgba(49, 67, 81, 0.07);

			.card-title {
				text-decoration: underline;
				transition     : all 0.5s;
			}
		}

		.card {
			border       : none;
			border-radius: 0;
		}
	}
}

.body-main {
	margin: 20px 0 40px;
}