html {
    font-size: 16px;
}

body {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 400;
    font-size  : 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Mukta Malar', sans-serif;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

h4,
h5,
h6,
b {
    font-weight: 500;
}

ol li,
ul li {
    font-weight: 400;
    font-size  : 1.2rem;
}

p {
    font-size  : 1.2rem;
    line-height: 1.8;
}