@media (max-width:991px) {
    html {
        margin-top: 0 !important;
    }

    header {
        padding: 12px 0;

        .navbar {
            padding: 0;
        }
    }

    #header-menu {
        position  : fixed;
        left      : 0;
        width     : 100%;
        top       : 0;
        background: #b931d0;
        height    : 100vh;
        z-index   : 1;
        transform : translateX(-100%);
        transition: all 0.5s;

        &.show {
            transform : translateX(0);
            transition: all 0.5s;
        }
    }
}