@media (max-width:991px) {
    html {
        margin-top: 0 !important;
    }
    body{
        background-color: #fbe4ff;
    }

    .main-content {
        padding: 20px 0;
    }

    header {
        padding: 12px 0;

        .navbar {
            padding: 0;
        }
    }



    #header-menu {
        position        : fixed;
        left            : 0;
        width           : 100%;
        top             : 75px;
        background      : #fbe4ff;
        height          : 100vh;
        z-index         : 1;
        transform       : translateX(-100%);
        transition      : all 0.5s;
        transform-origin: -50% -50%;
        display         : block;
        padding-top     : 10px;
        padding-bottom  : 20px;

        &.show {
            transform       : translateX(0);
            transition      : all 0.5s;
            transform-origin: -50% -50%;
        }
    }

    body.logged-in {
        #header-menu {
            top: 120px;
        }
    }

    .navbar-light .navbar-nav .nav-link {
        padding: 8px 12px;
    }

    .single-url-list {
        h5 {
            position     : relative;
            cursor       : pointer;
            background   : #8a46e3;
            padding      : 12px;
            color        : #fff;
            border-radius: 4px;

            &:after {
                position            : absolute;
                border              : solid #fff;
                border-width        : 0 3px 3px 0;
                display             : inline-block;
                padding             : 3px;
                transform           : translateY(-50%) rotate(45deg);
                -webkit-transform   : translateY(-50%) rotate(45deg);
                content             : "";
                right               : 30px;
                transition          : all 0.5s;
                // top              : calc(50% - 8px);
                top                 : 50%;
            }
        }

        ul {
            display: none;
        }

        li a {
            padding: 4px 12px;
            display: block;
        }

        &.active {
            h5 {
                &:after {
                    transition       : all 0.5s;
                    transform        : translateY(-50%) rotate(225deg);
                    -webkit-transform: translateY(-50%) rotate(225deg);
                }
            }

            ul {
                display: block;
            }
        }
    }
}